body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(218, 216, 216);
    background-color: black;
}
svg {
    background-color: rgb(39, 39, 92);
}

#tooltip {
    color: black;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    pointer-events: none; /* Ensures tooltip does not interfere with mouse events on the chart */
    display: none; /* Initially hide the tooltip */
  }