body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    background-color: rgb(140, 216, 235);
}
svg {
    background-color: white;
    border: 1px solid black;
    box-shadow: 50px black;
}

circle {
    stroke: black;
    border: 9px solid black;
    opacity: 100px;
}

#tooltip {
    position: absolute;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    pointer-events: none; /* Ensures tooltip does not interfere with mouse events on the chart */
    display: none; /* Initially hide the tooltip */
  }

  .legend rect {
    stroke: #000;
  }
  
  .legend text {
    fill: #000;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }
  